<footer>
    <div class="row text-white bg-secondary p-4">
        <div class="col-lg-4 col-sm-auto">
            <span class="ml-5">Introduced by <b>Mykhailo Velykyi</b></span>
        </div>
    </div>
</footer>