<header>
    <div class="row bg-dark">
        <div class="col-5 text-white m-5">
            <h1>Business cards</h1>
            <h4>Koroka Solutions candidate evaluation task</h4>
        </div>
    </div>
</header>